@import "variables";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #333;
}

// Navigation bar
nav {
  background: rgb(6, 142, 233);
  color: white;
}

// Search input
#search {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: $border-radius;
  border: $border;
}

// profile card
#profile {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 1rem;

  #detail {
    margin-top: 1rem;

    li {
      padding: 0.8rem 1rem;
      border-top: $border;
      border-left: $border;
      border-right: $border;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
      &:last-child {
        border-bottom: $border;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

// repos part
#repos {
  .repo {
    border: $border;
    border-radius: $border-radius;
    padding: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .box-list {
      justify-content: left;
      li {
        margin-right: 0.5rem;
      }
    }
  }
}

//alert
.alert {
  background: rgb(245, 90, 90);
  color: white;
  padding: 0.5rem;
  border-radius: $border;
}

// footer
footer {
  text-align: center;
  border-top: $border;
  border-bottom: $border;
}
